body{
    background-color: whitesmoke;
}
.todoItem {
    border-bottom: 1px solid #cfcfcf;
    font-size: 20px;
    padding: 30px 20px 30px 20px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.todoList {
    background-color: white;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #efefef;
    padding: 30px 30px 30px 30px;
}

#add-todo {
    margin: 50px 30px 15px 30px;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
    
}
 ::placeholder {
     color: gray;
     font-size: 18px;
     font-style: italic;

 }

#todo-input {
    width: 500px;
    border-radius: 10px;
    margin-left: 3px;
    font-size: 20px;
    background-color: transparent;
    background-color: white;
    
    
    
}
#todo-input:focus {
    outline: none;
}

#add-button {
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: gray;
    cursor: pointer;
    
}

span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    
}

.faicon {
    color: gray;
    font-size: medium;
    margin: 20px 5px;
}

#checkbox {
    opacity: 0.8;
    cursor: pointer;
}

.todoItem .todo-text{
    width: 500px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    border: none;
    background-color: transparent;
    overflow-wrap: break-word;
    outline:none;
    resize: none;
    overflow: hidden;
    
    
}
.todoItem .todo-text:focus {
    outline:none;
    
}


